.navbar-brand img{
    width: 70px;
}
.full-width{
    width: 100%;
    height: auto;
}
.feature-item img{
    width: 50px;
    height: auto;
}
.subscribe{
    background-image: url(img/subscribe.jpg);
    background-size: cover;
    background-position: center;
}
.brand-icon img{
    width: 100px;
    height: auto;
}
.blur-filter{
    backdrop-filter: blur(8px);
    background-color: rgb(255 255 255 / 30%);
}
.main-footer{
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media(min-width:600px) and (max-width:912px){
    bodt{
        font-size: 20px;
    }
    .main-footer{
       font-size: 30px;
    }
    .main-footer h6{
        font-size: 30px;
    }
}
